/* Mein CSS */

@font-face {
  font-family: "OCR A Extended";
  src: url("../OCRAEXT.TTF");
  }

*{
    overflow: hidden;
}

body {
    margin: 0;

    background-image:url(../images/green1.jpg); 
    background-size: 10rem;
    background-repeat: repeat;
}



#animation_container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
